<div class="container col-md-6 mt-1 ms-0">
    <h2>Undertaking Letter Form </h2>
    
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="row ">
        <div class="col-md-6 mb-2">
          <label>Employee Name</label>
          <input type="text" class="form-control" formControlName="name" required />
        </div>
        
        <div class="col-md-6 mb-2">
          <label>Passport Number</label>
          <input type="text" class="form-control" formControlName="passportNo" required />
        </div>
        
        <div class="col-md-6 mb-2">
          <label>Designation</label>
          <input type="text" class="form-control" formControlName="designation" required />
        </div>
        
        <div class="col-md-6 mb-3">
          <label>Company Name</label>
          <input type="text" class="form-control" formControlName="companyName" required />
        </div>
        
        <div class="col-md-12 mb-3">
          <label>Company Address</label>
          <input type="text" class="form-control" formControlName="companyAddress" required />
        </div>
        
        <div class="col-md-12 mb-3">
          <label>Resident Address</label>
          <input type="text" class="form-control" formControlName="address" required />
        </div>

      </div>
      
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-secondary ms-2" (click)="employeeForm.reset()">Reset</button>
    </form>
</div>
