<div class="dashboard-container">

  <!-- Sidebar Toggle Button -->
<button class="sidebar-toggle" (click)="toggleSidebar()">
  <i class="fas fa-bars"></i>
</button>
  <nav class="sidebar" [class.collapsed]="isCollapsed">
    <div class="logo-container">
      <a routerLink="/dashboard/home"> <img src="5.png" alt="Logo" class="logo"></a>
    
    </div>
    <ul class="menu ">
      <li>
        <a  routerLink="/dashboard/home">
          <i class="fa-solid fa-gauge"></i>  Dashboard
        </a>
      </li>
  
      <li class="dropdown">
        <a (click)="toggleMenu('master')">
          <i class="fa-solid fa-share-from-square"></i> Master
          <i class="fa fa-chevron-down dropdown-icon"></i>
        </a>
        <ul *ngIf="openSubMenu === 'master'">
          <li><a routerLink="/dashboard/master/organization-form" >Organization</a></li>
          <li><a routerLink="/dashboard/master/dept-mst">Department</a></li>
          <li><a routerLink="/dashboard/master/app-mst">Approval</a></li>
          <li><a routerLink="/dashboard/master/partner-form">Partner</a></li>
          <li><a routerLink="/dashboard/master/look-up-mst">Look Up</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a (click)="toggleMenu('requests')">
          <i class="fa fa-file"></i> Request
          <i class="fa fa-chevron-down dropdown-icon"></i>
        </a>
        <ul *ngIf="openMenu === 'requests'">
          <li><a routerLink="/dashboard/request/rfr">RFR</a></li>
          <li><a routerLink="/dashboard/request/olf">Offer Letter Form</a></li>
          <li><a routerLink="/dashboard/request/ulf">Undertaking Letter Form</a></li>
          <li><a routerLink="/dashboard/request/rlf">Request Letter Report</a></li>
          <li><a routerLink="/dashboard/request/approval-details">Approval Details</a></li>
          <li><a routerLink="/dashboard/request/view-request">View Request</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a (click)="toggleMenu('report')">
          <i class="fa-solid fa-indent"></i> Reports
          <i class="fa fa-chevron-down dropdown-icon"></i>
        </a>
        <ul *ngIf="openMenu === 'report'">
          <li><a routerLink="/dashboard/report/alp">Appointment Letter Report</a></li>
          <li><a routerLink="/dashboard/report/olp">Offer Letter Report</a></li>
          <li><a routerLink="/dashboard/report/rlp">Request Letter Report</a></li>
          <li><a routerLink="/dashboard/report/ulp">Undertaking Letter Report</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a (click)="toggleMenu('register')">
          <i class="fa-solid fa-table-list"></i> Register
          <i class="fa fa-chevron-down dropdown-icon"></i>
        </a>
        <ul *ngIf="openMenu === 'register'">
          
          <li><a routerLink="/dashboard/register/rfr-list">RFR Register</a></li>
          <li><a routerLink="/dashboard/register/partner-list">Partner Register</a></li>
          <li><a routerLink="/dashboard/register/department-list">Department Register</a></li>

        </ul>
      </li>
    
      <li class="dropdown">
        <a (click)=" toggleMenu('employees')" >
          <i class="fas fa-users"></i> Employees
          <i class="fa fa-chevron-down dropdown-icon"></i>
        </a>
        <ul *ngIf="openMenu === 'employees'">
          <li><a routerLink="/dashboard/employees/employee-mst">Employee Master Form</a></li>
          <li><a routerLink="/dashboard/employees/employee-list">Employee List</a></li>
          <li><a routerLink="/dashboard/employees/employee-details">Employee Details</a></li>
        </ul>
      </li>
      
  
      <li class="dropdown">
        <a (click)="!isDisabled && toggleMenu('admin')"[class.disabled]="isDisabled">
          <i class="fas fa-user-shield"></i> Admin
          <i class="fas fa-chevron-down"></i>
        </a>
        <ul *ngIf="openMenu === 'admin'">
          <li><a routerLink="/dashboard/admin/user-management">User Management</a></li>
          <li><a routerLink="/dashboard/admin/system-settings">System Settings</a></li>
        </ul>
      </li>

      <li>
        <a routerLink="/dashboard/settings">
          <i class="fas fa-cogs"></i> Settings
        </a>
      </li>
      
      <li>
        <a (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
  </nav>
  
  
  
  <div class="main-content">
    <header class="top-nav">

      
        <div class="welcome-text">

          Welcome , {{ user.name }} 
          <i class="fa-solid fa-hands-praying" style="color: #f1c27d;"></i>
        </div>
      
      
  
      <div class="user-info">
        <img [src]="user.profilePic" alt="User Profile" class="profile-pic">
        <div>
          <p>{{ user.name }}</p>
          <p>ID: {{ user.employeeId }}</p>
        </div>
      </div>
    </header>
  
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>
  
  </div>
  



